header, footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}


@media (max-width: 768px) {
    #hamburger {
        position: relative;
        display: block;
        bottom: 400px;
        left: 250px;
    }
    .lin {
        display: block;
        background-color: white;
        width: 100%;
    }

        

    .lin.show {
        position: relative;
        display: grid;
        justify-content: center;
        gap: 15px;
        left: 10px;
        bottom: 430px;
        padding: 1px;
        width: 90px;
    
        background-color: white;
    }
    
    footer {
        position: relative;
       
    }

}
    


@media (min-width: 768px) {
    #hamburger {
        display: none;
    }
    .lin {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 50px;
        left: 95px;
        bottom: 621px;
        padding: 2px;
        width: 450px;
        background-color: white;
        
    }
   
    
}

nav a:hover {
    padding: 4px;
    text-decoration: none;
    color: purple;
    transition: background-color 0.9s;
}
