header{
    text-align: center;
    background-color: lightskyblue;
}
    
    


body {
  font-family: "Roboto", sans-serif;
}
main {
    padding: 0px;
    margin: 0px;

}

.unify {
    display: flex;
    position: flex;
    flex-direction: row;
    
}
.lin {
    display: flex;
    text-align: center;
    gap: 101px;
    position: relative;
    
}


footer {
    background-color: lightblue;
    display: inline-grid;
    flex-direction: row;
    gap: 3px;
    text-align: center;
    align-items: center;
    padding: 5px;
    width: 99.2%;
    
} 
.profile{
    padding: 1px;
    margin: 6px;
    border-style: solid; ;
    background-color: white;
    width: 97%;
}
.box{
    display: flex;
    flex-direction: row;
}
.career {
    background-color: white;
    padding: 1px;
    margin: 9px;
    width: 70%;
    border-top-style: solid;
    
}
h1{
    position: relative;
    text-align: center;
    background-color: azure;
    
    
}
h2{
    background-color: lightskyblue;
    text-align: center;
    position: relative;
    bottom: 21px;
}


.box img {
    position: relative;
    left: 77%;
    
}

.box p {
    position: relative;
    right: 120px;
    width: 75%;
}

.career img {
    position: relative;
    left: 5px;
}

.career p {
    position: relative;
    bottom: 190px;
    left: 38.5%;
    width: 60%;
}

.web {
    display: flex;
    flex-direction: column;
    gap: 9px;
    background-color: white;
    align-items: start;
    left: 7px;
    padding: 19px;
    
}

a:hover {
    background-color: aqua;
}

h3{
    position: relative;
    bottom: 19px;
    padding: 3px;
    background-color: lightblue;
    text-align: center;
}

.web-dev {
    padding: 0px;
    margin: 19px;
    border-style: solid;
    width: 47%;
}


