header {
    background-color: blueviolet;
    padding: 1px;
    border: 1px;
    margin: 2px;
    align-items: center;
    display: flex;
    gap: 90px;
    color: white;
    
}

#hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    
    color: white;
}

@media (max-width: 768px) {
    #hamburger {
        display: block;
    }
    .lin {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: green;
        padding: 10px;
        color: white;
    }
    .lin.show {
        display: flex;
    }
}

footer {
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
}